<div class="container">

  <section id="drag-area">
    <div class="row">
      <div class="col-12 mt-1 mb-3">
        <h4 class="text-uppercase list-heading">
          Boards
        </h4>
        <button type="button" class="btn btn-outline-primary list-add create-editable"
          data-type="text" data-http="post" data-url="<%= boards_path %>">
          <i data-feather="plus"></i>
        </button>
        <hr>
      </div>
    </div>

    <div class="row" id="card-drag-area">

      <% if @boards.empty? %>
        <span class="no-content">No boards.</span>
      <% end %>

      <%= render partial: 'home/board_blocks', locals: { boards: @boards } %>

    </div>
  </section>

</div>
