/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import "bootstrap-extended.min";
@import "bootstrap-editable";
@import "dragula.min";
@import "summernote";
@import "summernote-bs4";

.auth {
  position: relative;
  margin: 50px auto 50px auto;
}

.alerts {
  text-align: center;
}

section {
  margin: 30px auto 30px auto;
}

.heading-elements {
  background-color: transparent !important;
  top: 6px !important;
  right: 15px !important;

  ul>li>a {
    padding: 0 !important;
  }
}

.list-heading {
  display: inline-block;

  &+.list-add {
    margin-top: -8px;
    margin-left: 15px;
  }
}

.create-editable {
  border-bottom: solid 1px rgb(0, 123, 255) !important;
}

.note-statusbar {
  display: none !important;
}

.note-editor {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.editor-wrapper {
  padding: 5px 10px 5px 10px !important;

  &>form {
    //height: 150px;
  }
}

.note-editor .note-editable {
  line-height: 1;
  color: rgba(0, 0, 0, 0.9);
}

.model-card {
  &>a {
    right: 15px;
    position: absolute;
    z-index: 100;
    visibility: hidden;

    &>svg {
      height: 75% !important;
      width: 75% !important;
    }
  }

  &:hover a {
    visibility: visible;
  }
}

.list-block {
  .card-content {
    background-color: rgba(0, 0, 0, 0.03) !important;

    .card-footer {
      background-color: transparent;

      .card-post {
        border-bottom: none;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
